@import './tailwind.css';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: red; */
  }
}

html,
body {
  @apply text-black tracking-[0.3px] font-poppins bg-dark-default/5;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

button {
  @apply cursor-pointer;
}

a {
  @apply cursor-pointer transition-all duration-200;
}

.ol-zoom.ol-unselectable.ol-control {
  top: unset !important;
  left: unset !important;
  right: unset !important;

  bottom: 8rem !important; /* Jarak dari bawah */
  right: 1rem !important; /* Jarak dari kiri */

  border-radius: 0.5rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.ol-zoom button {
  background-color: #ffffff;
  color: #4f46e5;
  transition: background-color 0.2s;
}
.ol-zoom button:hover {
  background-color: #f3f4f6;
}
